* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--020-a-18, #020A18);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

.menu-link {
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 39px 16px;
}

.menu-link:hover {
    background: #3A68B8;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    margin-bottom: 197px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 50px;
}

.text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
}

.main-link {
    display: inline-block;
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    margin-right: 20px;
}

.main-right {
    display: flex;
    justify-content: end;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 256px;
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    margin-bottom: 264px;
}

.about__title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 117px;
    margin-bottom: 30px;
}

.about__text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    margin-right: 24px;
}

.about__btn {
    display: inline-block;
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    margin-right: 20px;
}

.feature {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    margin-bottom: 243px;
}

.item {
    display: grid;
    justify-items: center;
    gap: 30px;
    border-radius: 10px;
    background: #132035;
    padding: 30px;
}

.item-big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.item__text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 221px;
}

.content__title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin: 14px 25px 40px 0px;
}

.content__text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin: 0px 113px 20px 0px;
}

.footer {
    margin-top: 48px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
}

.footer__heading {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}

.footer__contacts {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.footer__desk {
    width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}

.socials-mr {
    margin-right: 24px;
}